.itemsBar
{
    border-radius: 10px;
    width: 30%;
    position: fixed;
    z-index: 100;
    top: 5vh;
    height: 95vh;
    right: -50%;
    background-color: #fff;
    text-align: center;
    transition: all 500ms;
    box-shadow: 0 0 0.5rem #9da5ab;
}
.contentItems{
    height: 75%;
    overflow-y: auto;
    padding: 10px;
}
.barHeader{
    height: 25%;
    box-shadow: 0 0 0.5rem #9da5ab;
    overflow: hidden;
}
.showBar{
    right: 5px;
}
.barItem{
    width: fit-content;
    padding: 10px 15px;
    margin: 5px;
    background-color: #6c757d;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.calculatedItem{
    background-color: #6c757d;
    color: #fff;
    padding: 0px 5px;
    border-radius: 5px;
}
.groupItems{
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 0px;
}
.iconContainer{
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    margin: 0px 4px;
}
.checkContainer,.checkUnActive,.checkActive{
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
.checkUnActive{
    background-color: #eee;
    cursor: pointer;
    border: 1px solid #333;
}
.checkActive{
    background-color: yellow;
    cursor: auto;
}