.divSty {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  padding: 20px 50px;
}
.divSty span {
  font-family: "NeusaNextPro";
  font-size: 25px;
  color: #012547;
}
.divSty div {
  font-family: "NeusaNextPro";
  color: #455054;
  font-size: 8px;
  margin-top: 8px;
}
.iconSt {
  cursor: pointer;
  margin-right: 20px;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 50%;
}

.iconSt svg {
  width: 40px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.iconSt3 {
  cursor: pointer;
  margin-right: 20px;
  align-items: center;
  background-color: #f0f0f0;
  padding: 17px;
  border-radius: 50%;
}
.iconSt3 svg {
  width: 37px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.iconSt5 {
  cursor: pointer;
  margin-right: 20px;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 11px;
  border-radius: 50%;
}
.iconSt5 svg {
  width: 55px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.iconSt7 {
  cursor: pointer;
  margin-right: 20px;
  align-items: center;
  background-color: #f0f0f0;
  padding: 12px 14px;
  border-radius: 50%;
}
.iconSt7 svg {
  width: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .divSty {
    padding: 20px;
  }
}
@media only screen and (min-width: 1400px) {
  .divSty {
    padding: 20px 50px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1200px) {
  .divSty span {
    font-size: 16px !important;
  }
}
